<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_page?(root_path) %>
  <% else %>
<%= render 'layouts/header'%>
<% end %>
<%= yield %>
<div class="footer" style="background-color:orange;height:200px">
            <br></br>
            <div class="text-center">
            <h26 style="font-size:30px">Copyright© Muhammad Hisaan Anjum Qadri</h26>
            </div>
            <div class="text-center">
<a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=lyrics-master.herokuapp.com&digit=style/plain/33/&reloads=0" alt="www.reliablecounter.com" title="www.reliablecounter.com" border="0"></a><br /><a href="http://www.analogmix.com" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">www.analogmix.com</a>              </div>
            </div>
</body>
</html>
